{% extends 'base.html.twig' %}

{% block title %}Ortsdosisleistung{% endblock %}
{% block header %}Ortsdosisleistung{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col col-xl-10">
            <div id="odl-chart">
                <span></span>
                <canvas></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chart.bundle.min.js') }}"></script>
    <script src="{{ asset('js/odl.js') }}"></script>
{% endblock %}
