{% extends 'base.html.twig' %}

{% block title %}Ortsdosisleistung{% endblock %}
{% block header %}Ortsdosisleistung{% endblock %}

{% block main %}
    <div class="chart">
        <canvas id="chart"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/chart.js') }}"></script>
    <script src="{{ asset('js/odl.js') }}"></script>
{% endblock %}
