<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>{% block header %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid mt-3 mb-5">
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm">
                        Datenquellen:
                        Bundesamt für Strahlenschutz,
                        <a href="https://odlinfo.bfs.de">ODL-Info</a>
                        / eigene Messung
                    </div>
                    <div class="col-12 col-sm-auto">
                        <a href="https://www.hallerbach-it.de">Impressum</a>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>