<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{% block header %}{% endblock %}</h1>
        </header>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>