<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>{% block header %}{% endblock %}</h1>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <span>
                Datenquelle:
                Bundesamt für Strahlenschutz,
                <a href="https://odlinfo.bfs.de">ODL-Info</a>
            </span>
            <span class="float-right">
                <a href="https://www.hallerbach-it.de">Impressum</a>
            </span>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>